.blurry1{
    background-color: #6c00f5; 
    width: 200px; 
    height: 200px; 
    border-radius: 999px; 
    filter: blur(100px); 
    position: absolute; 
    right: 345px; 
    bottom: 190px;
}
.blurry2{
    background-color: #6c00f5; 
    width: 200px; 
    height: 200px; 
    border-radius: 999px; 
    filter: blur(100px); 
    position: absolute; 
    bottom: 0px; 
    left: -70px;
}
.artBoxMain{
    position: absolute; 
    border-width: 3px; 
    border-style: solid; 
    border-image: linear-gradient(to right, #ec02f3, #5200f3) 1; 
    padding: 15px; 
    transform: rotate(45deg); 
    top: 140px; 
    left: -35px;
}
.artBoxInnerDiv{
    background: linear-gradient(to right, #5200f3, #ec02f3); 
    width: 50px; 
    height: 50px;
}
h1{
    margin: 0px !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
h3{
    margin: 0px !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ml-30{
   margin-left: 30px !important
}
h4{
    margin: 0px !important;
    margin-top: 3px !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.px-20{
    padding-left: 20px !important;
    padding-right: 20px !important;
    color: white;
}
.px-20:hover{
    cursor: pointer;
}
.hollow-text {
    font-family: Arial, sans-serif;
    font-size: 80px;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.514);
    letter-spacing: 20px;
    font-stretch: ultra-expanded !important;
}
h6{
    color: white;
}
.font-st{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.m-0{
    margin: 0px !important;
}
.style-simple{
    font-weight: normal !important;
}
.experienceInnerCardAlignment{
    display: flex; 
    flex-direction: column; 
    color: white; 
    justify-content: center; 
    align-items: center;
}
.experienceDivCard{
    background-color: #23123c80; 
    padding: 5px 20px; 
    width: 80%; 
    border-radius: 5px; 
    height: 60px; 
    display: flex; 
    flex-direction: row; 
    gap: 150px; 
    justify-content: center;
}
.experienceMainCard{
    display: flex; 
    justify-content: center; 
    margin-top: 100px;
}
.devIntro{
    color: white; 
    font-size: 50px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}
.mb-5{
    margin-bottom: 5px !important;
}
.mt-5{
    margin-top: 5px !important;
}
.developerMainCard{
    margin-left: 120px; 
    margin-top: 115px; 
    display: flex; 
    flex-direction: column;
}
.HireMeButton{
    margin-left: auto; 
    padding: 8px 20px; 
    background: linear-gradient(to right top, #ec02f3, #5200f3); 
    color: white; 
    border-radius: 5px; 
    border: none;
}
.logoDiv{
    color: white; 
    margin-right: auto;
}
.navBarInnerDiv{
    background-color: #3f3945; 
    width: 80%; 
    height: 40px; 
    border-radius: 5px;
    border: 2px solid #494650; 
    padding: 5px 10px; 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    z-index: 10;
}
.navBarMainCard{
    width: 100%; 
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    margin-top: 20px;
}
.helloDivPosition{
    position: absolute; 
    display: flex; 
    right: 470px; 
    top: 40px;
}
.TopBarMainCard{
    display: flex; 
    width: screen; 
    height: 560px; 
    position: relative; 
    flex-direction: column;
}
.mainBodyManipulation{
    padding: 0px !important; 
    margin: 0px !important; 
    background-color: black;
}
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
button:hover{
    cursor: pointer;
}
a{
    text-decoration: none;
    color: white;
}
img {
    filter: brightness(80%) contrast(120%);
}